.o_snippet_gradient {
  text-align: center;

  .gradient-text {
    --g-color-1: #00ff00;
    --g-color-2: #ff0000;
    --g-direction: 45deg;

    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    width: fit-content;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(
      var(--g-direction),
      var(--g-color-1),
      var(--g-color-2)
    );

    -webkit-background-clip: text;

    background-clip: text;

    -webkit-text-fill-color: transparent;

    color: transparent;
  }
}
